
.sale-container{
    display: flex;
    width: 100%;
}

.sold-name{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.sold-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21.66%;
}

.sold-total-price{
    width: 21.66%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

.sold-product-time{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 21.66%;
    font-size: small;
    overflow-x:hidden;
}

.time{
    margin: 0;
    margin-left: 46.5%;
}

.sale-name{
    margin: 0;
    margin-left:20%;
}
.sale-price{
    margin:0;
    margin-left:41.5%;
}

.sold-delete-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21.66%;
    height: 100%;
}

.sold-delete-button{
    all:unset;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    height: 90%;
    color: white;
    border:1px solid rgb(172, 172, 172);
    background: orangered;
}

.sold-delete-button:hover{
    cursor: pointer;
}
.sold-delete-button:active{
    background: rgb(255, 30, 0);
}
