.change-subscription-container{
    display: flex;
    flex-direction:column;
    align-items:center;
    position: absolute;
    text-align:center;
    top: 5.8rem;
    left: 0%;
    width: 100%;
}


.subscription-time-ended{
    font-style: oblique;
}

.you-can-renew-below{
    font-style: oblique;
    display: block;
    width: 100%;
}

.subscription-renew-container{
    width:555px;
}