
.business-overview-container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    top: 5.8rem;
    z-index: 89;
}

.business-overview-pie-chart-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 2.5%;
    width: 60%;
    height: 80%;
    border-radius: 15px;
    border: 1px solid black;
    background: rgb(235, 235, 235);
}


.business-links-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    height: 60%;
    margin-left: 12.5%;
    margin-top: 5%;
    border-radius: 15px;
    border: 1px solid black;
    background: rgb(235, 235, 235);
}

.pie-chart-title{
    display: flex;
    margin-left: 2.5%;
    width: 100%;

}

.business-overview-pie-chart{

    border-radius: 50%;
    width: 80%;
    height: 90%;
}

.pie-chart-table-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    max-height: 300px;

}

.pie-chart-table-titles-ul{
    all: unset;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 10%;
    background: orangered;
}

.pie-chart-table-titles-li{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
}

.pie-chart-table-products-ul{
    all: unset;
    background: white;
    height: 80%;
    overflow-y: scroll;
    width: 100%;
}

.pie-chart-table-products-li{
    all: unset;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 8%;
}

.pie-chart-row-ul{
    all: unset;
    width: 100%;
    display: flex;
}

.pie-chart-row-li{

    all: unset;
    display: flex;
    width: 25%;
}


.color-container{
    height: 100%;
    width: 12%;

}

.total-numbers-ul{
    all: unset;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: orangered;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.total-numbers-li{
    all: unset;
    width: 25%;
}

.pie-chart-circle-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 70%;
    background: rgba(0,0,0,0);
}

.color-div{
    width: 10%;
    height: 100%;
}

.business-overview-link{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: orangered;
    color: white;
    width: 80%;
    height: 10%;
}

.business-overview-link:hover{
    cursor: pointer;
    background: rgb(255, 51, 0);
}

.business-overview-link:active{
    background: rgb(255, 8, 0);
}

.business-overview-total-income-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 3.2rem;
    background-color: rgba(96, 192, 131, 1);
}

