



.welcome-instruction{
    display: flex;
    align-content: flex-start;
}

.accept-terms-container{
    width: 100%;
    height: 100%;
    max-height: 100%;
    position:absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0,0,0,0.4);
    animation-name:appear;
    animation-duration: 2500ms;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.accept-terms-box{
    background-color: white;
    display: block;
    animation-name:slidein;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-direction: normal;
}


@keyframes slidein {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}

@keyframes slideout{
    0%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(100%);
    }
}

@keyframes appear {
   0%{
        background-color: rgba(0,0,0,0.0);
   }

   100%{
        background-color: rgba(0,0,0,0.4);
   }
}

@keyframes disappear {
    
    0%{

        background-color: rgba(0,0,0,0.4);
    }

   100%{

        background-color: rgba(0,0,0,0.0);    
   }
}