.business-details-component{

    background: lightgray;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    left:.5vw;
    position: absolute;   
    top: 6.5rem;
    width: 98vw;
}
.product-categories-ul{

    all: unset;
    width: 100%;
    display: flex;
    border-radius: 15px;
    border-bottom: 1px solid black;
    background: orangered;
}

.product-categories-li{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 15%;

}

.product-edit-delete-category-li{
    all: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    width: 25%;
    margin-left: 5%;
}
.products-ul{
    all: unset;
}

.products-li{
    all:unset;
}

.products-ul-container{
    width: 100%;
    background: white;
    height: 78%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.add-product-button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
}

.add-product-button{
    all:unset;
    border-radius:15px;
    height: 60%;
    width: 32%;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    color: white;
    border:1px solid rgb(172, 172, 172);
    background: orangered;
}

.add-product-button:hover{
    cursor: pointer;
}

.add-product-button:active{
    background: rgb(255, 38, 0);
}
.business-products-container{
    background-color: rgb(226, 225, 225);
    border-radius: 15px;
    border: 1px solid black;
    height: 80%;
    margin-left: 2.5%;
    width: 40%;


}


.products-title{
    margin: 0;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
}

.business-details-go-back-button-container{
    display: flex;
    justify-content: flex-start;
    height: 8%;
    width: 100%;

}

.business-details-go-back-button{
    all: unset;
    background: rgb(230, 230, 230);
    border-radius: 15px;
    border: 2px solid orangered;
    height: 50%;
    width: 10%;
}

.business-details-go-back-button:hover{
    
    cursor: pointer;
    background:rgb(201, 200, 200);
    border: 2px solid rgb(255, 38, 0);
}

.business-details-go-back-button:active{
    cursor: pointer;
    background:radial-gradient(rgba(160, 160, 160, 0.96),rgba(150, 150, 150, 0.96));
}

.add-products-container{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 89;
}

.edit-product-label{
    width: 90%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: orangered;
    color: white;
}

.edit-product-name-container{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-products-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-left: 3%;
    width: 90%;
}

.add-products-card{
    width: 60%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background: rgb(207, 207, 207);
    border-radius: 18px;

}

.add-products-title-container{
    display: flex;
    width: 100%;
}

.add-products-go-back-button{
    all:unset;
    border-radius: 10px;
    border:2px solid orangered;
    background: rgb(197, 196, 196);
    font-size: x-large;
    font-weight: 500;
    margin-top: 1%;
    margin-right: 2%;
    width: 10%;
}

.add-products-go-back-button:hover{
    cursor: pointer;
}

.add-products-go-back-button:active{
    border:2px solid rgb(255, 51, 0);
    background: rgb(167, 167, 167);
}

.add-products-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 24%;
}

.add-products-label{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;

}
.add-products-input{
    all: unset;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    height: 50%;
    max-width: 325px;
    width: 60%;
}

.add-products-button-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 15%;
    width: 100%;
}

.new-product-error-1{
    display: none;
    width: 80%;
    color: red;
}

.new-product-success{
    display: none;
    width: 80%;
    color:rgb(23, 165, 23);
}

.add-products-button{
    all:unset;
    border-radius:15px;
    height: 55%;
    width: 25%;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    color: white;
    border:1px solid rgb(172, 172, 172);
    background: orangered;
}

.add-products-button:hover{
    cursor:pointer;
}

.add-products-button:active{
    background: rgb(255, 38, 0);
}

.business-details-sales-window{

    background-color: rgb(226, 225, 225);
    border: 1px solid black;
    border-radius: 15px;
    height: 80%;
    margin-left: 2.5%;
    width: 52%;
}

.sales-h4{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: 2%;
    margin-left: 2%;
    width: 100%;
}
.business-details-sales-titles-ul{
    all: unset;
    margin-top: 2%;
    border-radius: 15px;
    border-bottom: 1px solid black;
    background: orangered;
    display: flex;
    width: 100%;
}

.business-details-sales-titles-name-li{
    all: unset;
    align-items: center;
    color: white;
    display:flex;
    justify-content: center;
    width: 33%;
}

.business-details-sales-titles-li{
    all: unset;
    align-items: center;
    color: white;
    display:flex;
    justify-content: center;
    width: 22%;
}

.business-details-sales-ul-container{
    width: 100%;
    height: 75%;
    background: white;
    overflow-y: scroll;
}


.business-details-sales-ul{
    all: unset;
    background: white;
    width: 100%;
}

.business-details-sales-li{
    all: unset;
}

.add-sales-button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    width: 100%;
}

.add-sales-button{
    all:unset;
    border-radius:15px;
    height: 55%;
    width: 25%;
    margin-bottom: .5%;
    margin-right: 1.5%;
    color: white;
    border:1px solid rgb(172, 172, 172);
    background: orangered;
}

.business-details-total-earnings-container{


    background: orangered;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2rem;
    margin: 0;
    width: 100%;
}

.add-sales-button:hover{
    cursor: pointer;
    background: rgb(255, 51, 0);
}

.add-sales-button:hover{

    background: rgb(255, 38, 0);
}