.navbar{
    display: flex;
    position: fixed;
    height: 5.8rem;
    width: 100vw;
    background: white;
    border-bottom: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 1px 6px rgb(107, 107, 107);
    z-index: 90;
}

.navbar-ul{
    all:unset;
    display: flex;
    width: 100%;
}

.navbar-li-1{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-li-2{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-options-ul{
    all: unset;
    display: flex;
    width: 100%;
    height: 100%;
}
.nav-bar-link{
    all:unset;
    display:flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-option{
    all:unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
}

.navbar-option:hover{
    cursor: pointer;
    background: linear-gradient(rgba(104, 104, 104, 0.6), white);
}

.navbar-option:active{
    cursor: pointer;
    background: linear-gradient(rgba(68, 68, 68, 0.6), white);
}
.navbar-li-3{
    all: unset;
    width:30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ham-menu{
    position: relative;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ham-menu:hover{
    cursor: pointer;
    background: linear-gradient(rgba(104, 104, 104, 0.6), white);
}

.ham-menu:active{
    cursor: pointer;
    background: linear-gradient(rgba(68, 68, 68, 0.6), white);
}

.user-options{
    display:none;
    position:absolute;
    flex-wrap: wrap;
    justify-content: center;
    top: 5.9rem;
    right: 5%;
    width: 100%;
    height: calc(5.8rem*2.5);
    border-radius: 25px;
    background-color: rgb(243, 243, 243);
}

.user-name-label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.user-options-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:60%;
}
.admin-finance-logo{
    border-radius: 50%;
    padding: 0;
    margin:0;
}

.user-options-button{
    all:unset;
    width: 80%;
    height: 40%;
    border-radius: 25px;
    border: 3px solid orangered;
}

.user-options-button:hover{
    cursor: pointer;
    background: rgb(212, 212, 212);
}

.user-options-button:active{
    cursor: pointer;
    background: rgb(192, 192, 192);
}
