.main-div{
    display: flex;
    position:absolute;
    top:5.8rem;
    width: 100vw;
    height: 100vh;
}

.create-businesses-section{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.create-business-button{
    all: unset;
    width: 60%;
    height: 45%;
    font-size: xx-large;
    color: white;
    border-radius: 3px;
    background: orangered;
}

.create-business-button:hover{
    cursor: pointer;
}

.create-business-button:active{
    background: rgb(255, 51, 0);
}

.view-businesses-button{
    all: unset;
    width: 59%;
    height: 45%;
    font-size: xx-large;
    color: orangered;
    border-radius: 5px;
    border: 3px solid orangered;
}

.view-businesses-button:hover{
    cursor: pointer;
}

.view-businesses-button:active{
    color: rgb(255, 51, 0);
}

.picture-section{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serious-business-image{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}
