.index-container{
    margin-top: 9.6rem;
    width: 100vw;
    height: 250vh;
    background-color: white;
    z-index: 100;
}

.first-content-line{
    display: flex;
    width: 70vw;
    height: 40vh;
    background: linear-gradient(90deg, green, white);
}

.second-content-line{
    margin-left:20vw;
    width: 80vw;
    max-height: 60vh;
    background: linear-gradient(90deg, white 30%, rgb(255, 192, 75) 100%);
}

.third-content-line-simulator{
    width: 100%;
    height: 45vh;
    background: linear-gradient(90deg, aqua, white);
}

.fourth-content-line-simulator{
    width: 100%;
    height: 45vh;
    background: linear-gradient(90deg, white, orange);
}

.hidden-left{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all .7s;
}

.hidden-right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(99%);
    transition: all .7s;
}

.company-objective-h2{
    display: flex;
    width: auto;
    box-shadow: 3px 5px 5px black;
    background: linear-gradient(75deg,green, rgba(0, 133, 0, 0.493));
}

.company-objective-description{
    width: 60vw;
    font-size: larger;
    justify-content: center;
    text-align: left;
}
.show{
    opacity:1;
    display: block;
    filter: blur(0);
    transform: translateX(0);
}

.stars-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7.6rem;
}

.title-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.index-title{
    font-size:86px;

    padding-left: 22%;
    padding-right: 22%;
}

.technologies-container{
    display: flex;
    width: 100%;
}
.index-subtitle{
    font-size: 36px;
    text-align: center;
    font-weight:400;
    padding-left: 24%;
    padding-right: 24%;
    color: rgb(139, 139, 139);
}

.second-index-subtitle{
    font-size: 66px;
    text-align: center;

}

.free-trial-link{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 4.6rem;
    border-radius:10px;
    background-color: orangered;
    color: white;
    font-size:x-large;
}

.technologies-h2{
    margin: 0;
    padding: 0;
}

.technologies-ul{
    width: 100%;
    height: 526px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.technology-li{

    margin: 0;
    padding: 0;
    width: 32%;
}

.react-js-h3{
    margin:0;
    max-height: 3.6rem;
    width: 100%;
}

.react-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    box-shadow: 5px 5px 5px gray;
    border: 1px solid black;
}

.space-between-sections{
    height: 10vh;
    width: 100%;
}
