.sales-history-container{
    align-items: flex-start;
    background: lightgray;
    border: 1px solid black;
    border-radius: 15px;
    height: 100vh;
    justify-content: flex-start;
    position: absolute;   
    top: 6rem;
    width: 100%;
}

.sales-history-sales-container{
    width: 100%;
    height: 90%;
    max-height: 100%;
    overflow-y: scroll;
}

.sales-history-categories-container{

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: orangered;
    color: white;
    display: flex;
    width: 100%;
}

.sales-history-go-back-button-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.sales-history-go-back-button{
    all: unset;
    background: rgb(230, 230, 230);
    border-radius: 15px;
    border: 2px solid orangered;
    height: 2.5%;
    width: 10%;
}

.sales-history-category{
    margin: 0;
    width:25%;
}

.sale-history-sale-container{
    display: flex;
    width: 100%;
}
.sale-history-sale-name{

    margin:0;
    width: 25%;

}

.sale-history-sale-value{
    margin: 0;
    width: 25%;
}

.sale-history-sale-ticket{
    margin: 0;
    width: 25%;
}

.sale-history-sale-ticket-type{
    margin: 0;
    width: 25%;
}


.sales-history-go-back-button:hover{

    cursor: pointer;
    background:rgb(201, 200, 200);
    border: 2px solid rgb(255, 38, 0);
}

.sales-history-go-back-button:active{

    cursor: pointer;
    background:radial-gradient(rgba(160, 160, 160, 0.96),rgba(150, 150, 150, 0.96));
}