
.business{
    border: 2px solid orangered;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    height: 255px;
    width: 96%;
    background: rgb(236, 236, 236);
}

.business:hover{
    cursor:pointer;
    background: rgb(204, 204, 204);
}

.business-info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0;
    margin-left: 4%;
    width: 96%;
    height: 90%;
}

.business-info-ul{
    all: unset;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    height:85%;
    flex-grow: 1;
}

.business-info-li{
    all: unset;
    display: flex;
    width: 40%;
}

.business-info-li-2{
    all: unset;
    display: flex;
    width: 60%;
}

.business-info-paragraph{
    margin: 0;
    padding: 0;
    margin-left:10px;
}

.business-name-h4{
    text-align: start;
    height: 1.6rem;
    width: 100%;

}
