.help-content{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    top: 3.8rem;
    left: 15%;
    width: 85%;
    height: 93%;
    min-height: 93%;
}