

.login-card-component-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
}

.login-button-div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 4.6rem;
}
.login-inputs-div{
    
    display: flex;
    flex-wrap: wrap;
    height: 15vh;
}
.login-input-1{
    position: absolute;
    display: block;
    all:unset;
    width: 80%;
    height:3.6rem;
    border: 1px solid rgb(155, 154, 154);
    background-color: white;
    border-radius: 30px;
}

.login-h2{
    width: 100%;
    height: 3.6rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input-div-1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    justify-content:center;
}

.login-input-div-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    justify-content:center;
}
.login-input-2{
    position: absolute;
    display: block;
    all:unset;
    width: 85%;
    height:3.6rem;
    border: 1px solid rgb(155, 154, 154);
    background-color: white;
    border-radius: 30px;
}
.login-button{

    all:unset;
    width: 85%;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(155, 154, 154);
    background-color: rgb(73, 93, 134);
    color: white;
    border-radius: 30px;
}

.login-label{
    display: flex;
    color: rgb(63, 63, 63);
    margin-left:8%;
    width: 85%;
}

.login-button:hover{
    cursor: pointer;
    background-color: rgb(60, 77, 110);
}

.login-button:active{
    border: 1px solid rgb(126, 125, 125);
    background-color: rgb(43, 56, 82);
}